body {
    background-color: lightgray;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    border: 1px solid black;
}

.cell {
    flex: 0 0 calc(25% - 2px);
    aspect-ratio: 1/1;
    background-color: red;
    border: 1px solid black;
}