body {
    background-color: lightgray;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    min-width: 600px;
    max-width: 800px;
    aspect-ratio: 1/1;
}

.cell {
    aspect-ratio: 1/1;
    background-color: rgb(158, 228, 255);
}